// Here you can add other styles
.product-status {
  cursor: pointer;
}
.table-products tbody>tr{
  border-left: 5px solid #ddd;
}
.table-products tbody>tr.product-variation{
  border-left-color: #AAA;
}
.table-products thead{
  font-weight: bold;
  background: linear-gradient(to bottom,#f8f8f8,#eee);
}
.table-products td>img{
  width: 60px;
}
.table-products .table-sort-icon {
  font-size: 10px;
}
.table-products .columns-table{
  cursor: pointer;
}
.table-products thead th>input:first-child{
  margin-left: 3px;
}
.mq-select-body{
  max-height: 200px;
  overflow-y: auto;
  border-radius: initial;
  left: -1px;
  width: 100.6%;
  margin-top: 0px;
}
.mq-select-body{
  display: none;
}
.show-mq-select-body{
  display: block !important;
}
.body-input-search-mq-select{
  border: 1px #ddd solid;
  background-color: white;
  padding: 10px;
  position: absolute;
  z-index: 99999;
  width: 100%;
}
.body-input-search-mq-select-icon{
  font-size: 10px;
}
.mq-select-head{
  min-height: 28px;
  cursor: pointer;
}
.mq-select-head-item{
  border: #ddd solid 1px;
  padding: 3px;
  border-radius: 5px;
  margin: 2px;
  display: inline-block;
}

.mq-select-head-item-icon{
  cursor: pointer;
  font-size: 10px;
}
.mq-select-head-item-icon:hover{
  color: #ff0007;
}
.mq-select-head-item-input{
  border: none;
  outline: none;
  display: inline-block;
}
.mq-select-head-item-input input{
  outline: none !important;
  border: none !important;
}
.mq-select-head-item-input input:focus{
  outline: none !important;
  border: none !important;
}
.mq-item-selected{
  background-color: #2196f3;
  color: #fff;
}
.mq-item-selected:hover{
  background-color: #2196f3 !important;
  color: #fff !important;
}
.dropdown-item-none{
  text-align: center;
  cursor: pointer;
}
.mq-select-placeholder{
  color: #bbb;
}
.dropdown-checkbox-body{
  max-height: 250px;
  overflow-y: auto;
}
.dropdown-checkbox-label{
  margin-bottom: 1px !important;
  margin-left: 3px;
  cursor: pointer;

}
.modal-clear-status{
  text-align: center;
  font-size: 50px;
}



.f-modal-icon {
  border-radius: 50%;
  border: 4px solid gray;
  box-sizing: content-box;
  height: 80px;
  margin: 20px auto;
  padding: 0;
  position: relative;
  width: 80px;

  // Success icon
  &.f-modal-success,
  &.f-modal-error {
    border-color: #A5DC86;

    &:after,
    &:before {
      background: #fff;
      content: '';
      height: 120px;
      position: absolute;
      transform: rotate(45deg);
      width: 60px;
    }

    &:before {
      border-radius: 120px 0 0 120px;
      left: -33px;
      top: -7px;
      transform-origin: 60px 60px;
      transform: rotate(-45deg);
    }

    &:after {
      border-radius: 0 120px 120px 0;
      left: 30px;
      top: -11px;
      transform-origin: 0 60px;
      transform: rotate(-45deg);
    }

    .f-modal-placeholder {
      border-radius: 50%;
      border: 4px solid rgba(165, 220, 134, .2);
      box-sizing: content-box;
      height: 80px;
      left: -4px;
      position: absolute;
      top: -4px;
      width: 80px;
      z-index: 2;
    }

    .f-modal-fix {
      background-color: #fff;
      height: 90px;
      left: 28px;
      position: absolute;
      top: 8px;
      transform: rotate(-45deg);
      width: 5px;
      z-index: 1;
    }

    .f-modal-line {
      background-color: #A5DC86;
      border-radius: 2px;
      display: block;
      height: 5px;
      position: absolute;
      z-index: 2;

      &.f-modal-tip {
        left: 14px;
        top: 46px;
        transform: rotate(45deg);
        width: 25px;
      }

      &.f-modal-long {
        right: 8px;
        top: 38px;
        transform: rotate(-45deg);
        width: 47px;
      }
    }
  }

  // Error icon
  &.f-modal-error {
    border-color: #F27474;

    .f-modal-x-mark {
      display: block;
      position: relative;
      z-index: 2;
    }

    .f-modal-placeholder {
      border: 4px solid rgba(200, 0, 0, .2);
    }

    .f-modal-line {
      background-color: #F27474;
      top: 37px;
      width: 47px;

      &.f-modal-left {
        left: 17px;
        transform: rotate(45deg);
      }

      &.f-modal-right {
        right: 16px;
        transform: rotate(-45deg);
      }
    }
  }

  // Warning icon

  &.f-modal-warning {
    border-color: #F8BB86;

    &:before {
      animation: pulseWarning 2s linear infinite;
      background-color: #fff;
      border-radius: 50%;
      content: "";
      display: inline-block;
      height: 100%;
      opacity: 0;
      position: absolute;
      width: 100%;
    }

    &:after {
      background-color: #fff;
      border-radius: 50%;
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      width: 100%;
      z-index: 1;
    }
  }

  &.f-modal-warning .f-modal-body {
    background-color: #F8BB86;
    border-radius: 2px;
    height: 47px;
    left: 50%;
    margin-left: -2px;
    position: absolute;
    top: 10px;
    width: 5px;
    z-index: 2;
  }

  &.f-modal-warning .f-modal-dot {
    background-color: #F8BB86;
    border-radius: 50%;
    bottom: 10px;
    height: 7px;
    left: 50%;
    margin-left: -3px;
    position: absolute;
    width: 7px;
    z-index: 2;
  }

  + .f-modal-icon {
    margin-top: 50px;
  }
}

.animateSuccessTip {
  animation: animateSuccessTip .75s;
}

.animateSuccessLong {
  animation: animateSuccessLong .75s;
}

.f-modal-icon.f-modal-success.animate:after {
  animation: rotatePlaceholder 4.25s ease-in;
}

.f-modal-icon.f-modal-error.animate:after {
  animation: rotatePlaceholder 4.25s ease-in;
}

.animateErrorIcon {
  animation: animateErrorIcon .5s;
}

.animateXLeft {
  animation: animateXLeft .75s;
}

.animateXRight {
  animation: animateXRight .75s;
}

.scaleWarning {
  animation: scaleWarning 0.75s infinite alternate;
}

.pulseWarningIns {
  animation: pulseWarningIns 0.75s infinite alternate;
}

//icon success error warring
@keyframes animateSuccessTip {
  0%,54% {
    width: 0;
    left: 1px;
    top: 19px;
  }

  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }

  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }

  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}

@keyframes animateSuccessLong {
  0%,65% {
    width: 0;
    right: 46px;
    top: 54px;
  }

  84% {
    width: 55px;
    right: 0;
    top: 35px;
  }

  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}

@keyframes rotatePlaceholder {
  0%,5% {
    transform: rotate(-45deg);
  }

  100%,12% {
    transform: rotate(-405deg);
  }
}

@keyframes animateErrorIcon {
  0% {
    transform: rotateX(100deg);
    opacity: 0;
  }

  100% {
    transform: rotateX(0deg);
    opacity: 1;
  }
}

@keyframes animateXLeft {
  0%,
  65% {
    left: 82px;
    top: 95px;
    width: 0;
  }

  84% {
    left: 14px;
    top: 33px;
    width: 47px;
  }

  100% {
    left: 17px;
    top: 37px;
    width: 47px;
  }
}

@keyframes animateXRight {
  0%,
  65% {
    right: 82px;
    top: 95px;
    width: 0;
  }

  84% {
    right: 14px;
    top: 33px;
    width: 47px;
  }

  100% {
    right: 16px;
    top: 37px;
    width: 47px;
  }
}

@keyframes scaleWarning {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(1.02);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes pulseWarning {
  0% {
    background-color: #fff;
    transform: scale(1);
    opacity: 0.5;
  }

  30% {
    background-color: #fff;
    transform: scale(1);
    opacity: 0.5;
  }

  100% {
    background-color: #F8BB86;
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes pulseWarningIns {
  0% {
    background-color: #F8D486;
  }

  100% {
    background-color: #F8BB86;
  }
}

.table-pagination-right{
  float: right;
}
.table-pagination-left{
  float: left;
}
.float-lef {
  float: left;
}
.float-right {
  float: right;
}
.tab-head-item{
  cursor: pointer;
}
.mq-select-disabled{
  background-color: #dddddd;
}
.table-disabled{
  background-color: #dddddd;
}
.card-body-image{
  height: 300px;
}
.card-body-image img{
  max-width: 100%;
  max-height: 100%;
}
.card-body-image-upload{
  position: absolute;
  top: 40%;
  font-size: 20px;
  left: 20%;
  right: 20%;
  cursor: pointer;
  text-decoration: underline;
}
.image-bottom-icon-remove{
  cursor: pointer;
  font-size: 15px;
}
.gooey {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 142px;
  height: 40px;
  margin: -20px 0 0 -71px;
  background: #fff;
  filter: contrast(20);
}
.gooey .dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  filter: blur(4px);
  background: #000;
  border-radius: 50%;
  transform: translateX(0);
  animation: dot 2.8s infinite;
}
.gooey .dots {
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  animation: dots 2.8s infinite;
}
.gooey .dots span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  filter: blur(4px);
  background: #000;
  border-radius: 50%;
}
@-moz-keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@-webkit-keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@-o-keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@-moz-keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}
@-webkit-keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}
@-o-keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}
@keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}

